<h1>新規投稿</h1>
<!--エラー文-->
<% if @item.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--共有テンプレート-->
<%= render 'form', item: @item %>
<!--作品一覧に戻す-->
<%= link_to items_path do %>
 <button>戻る</button>
<% end %>