<div class="container">
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <h2 style="background-color:#F5F5F5;">logo 詳細</h2>
  </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%=image_tag @item.item_image_url,size: "2000x200" %>
    </div>
  </div>