  <div class="col-xs-10 col-xs-offset-1 text-center"style="margin-top: 50px;">
      <h2>ジャンル登録</h2>
  </div>
  <%= form_with model: [:admin,genre] do |f| %>
  <div class="row">
  <div class="field m-2 p-2 text-center">
    <%= f.label :genre_name, "ジャンル名" %>
    <%= f.text_field :genre_name %>
  </div>

  <div class="submit text-center">
    <%= f.submit "登録", class: "btn btn-primary btn-block" %>
  </div>
  </div>
  <% end %>