 <ul class="offset-1 nav nav-tabs">
    <li class="nav-item col">
        <%= link_to customer_path(current_customer) do %>マイページ<% end %>
    </li>
    <li class="nav-item col">
      <%= link_to items_path do %>商品一覧<% end %>
    </li>
    <li class="nav-item col">
      <%= link_to new_item_path do %>新規投稿<% end %>
    </li>
    <li class="nav-item col">
      <%= link_to destroy_customer_session_path, method: :delete do %>ログアウト<% end %>
    </li>
</ul>
