 <ul class="offset-1 nav nav-tabs">
    <li class="nav-item col">
        <%= link_to root_path  do %>ホーム<% end %>
    </li>
    <li class="nav-item col">
      <%= link_to items_path do %>商品一覧<% end %>
    </li>
    <li class="nav-item col">
      <%= link_to new_customer_registration_path do %>新規登録<% end %>
    </li>
    <li class="nav-item col">
      <%= link_to new_customer_session_path do %>ログイン<% end %>
    </li>
</ul>